/*层叠样式*/
.left_box .nav ul li a.nav_one {
	border:none;color: rgba(0,0,0,.4);
}
.left_box .nav ul li:hover a{
	border-bottom: 1px solid #000;color:#000;transition: all 0.5s;
}
.left_box .nav ul li a.nav_three {
	border-bottom: 1px solid #000;color:#000;
}
/*exercise*/
.right .right_box .right_txt {
	width: 900px;height: auto;margin: 0 auto;text-align: center;
}
.right .right_box .right_txt p {
	font-size: 12px;line-height: 50px;
}
/*list*/
.list {
	width: auto;height: auto;/*margin: 0 auto;*/
}
/*遮盖白色*/
.right .list ul li a .list_box {
	width: 395px;height: 140.683px;padding-top: 100px;position: absolute;left: 0;top: 0;text-align: center;
}
.right .list ul li a:hover .list_box {
	width: 395px;height: 140.683px;display: block;background: rgba(255,255,255,.1);transition: all 0.5s;
}
.right .right_box .list ul {
	width: 1187px;height: auto;margin: 0 auto;
}
.right .right_box .list ul li {
	width: 395px;height: 240.683px;position: relative;float: left;
}
.right .right_box .list ul li a {
	width: 100%;height: 100%;display: block;overflow: hidden;
}
.right .right_box .list ul li a img {
	width: 395px;height: auto;transition: all 1s;
}
.right .right_box .list ul li:hover a img {
	width: 500px;height: auto;transition: all 1s;
}