/*初始化*/
* {
	margin: 0;padding: 0
}
a {
	text-decoration: none;	
}	
ul,li {
	list-style: none;
}
img {
	border: 0;vertical-align: middle;
}
i {
	font-style: normal;
}
button,
input {
	outline: none;
}
/*适应页面*/
html,body {
	height: 100%;
}
body {
 	font-size: 16px;font-family: "Amial","Microsoft yahei","simsun";color: rgba(0,0,0,.4);
 }
/*字体图标声明*/
@font-face {
  font-family: 'iconfont';src: url('iconfont.eot');src: url('iconfont.eot?#iefix') format('embedded-opentype'),url('iconfont.woff2') format('woff2'),url('iconfont.woff') format('woff'),url('iconfont.ttf') format('truetype'),url('iconfont.svg#iconfont') format('svg');
}

