/*层叠样式*/
.left .left_box .nav ul li .nav_one {
	color: rgba(0,0,0,.4);border:none;
}
.left .left_box .nav ul li:hover a{
	border-bottom: 1px solid #000;color:#000;transition: all 0.5s;
}
.left .left_box .nav ul li a.nav_four {
	border-bottom: 1px solid #000;color:#000;
}
/*exercise*/
.right .right_box .right_txt {
	width: 900px;height: auto;margin: 0 auto;text-align: center;
}
.right .right_box .right_txt p {
	line-height: 50px;font-size: 12px;
}
/*list*/
.list {
	width: auto;height: auto;/*margin: 0 auto;*/
}
/*手风琴*/
.list_box{
     width: 700px; margin: auto;
}
.list_box div{
     width: 700px;/*margin-top: 20px;*/
}
.list_box div h2{
     width: 700px;height: 50px;background: linear-gradient(360deg,#56CCF2,#2F80ED);
}
 .list_box div:target h1{
     display:block;background: linear-gradient(360deg,#000046,#1CB5E0);
}
.list_box div:target a{
     color: #fff;
}
.list_box div h2:hover a {
	color: #fff;transition: all 1s;
}
.list_box div h2 a{
     display: block;width: 680px;height: 100%;line-height: 50px;padding-left: 20px;color: #ccc;
}
 .list_box div h2 a h3 {
  	float: left;
}
.list_box div h2 a i {
	margin-left: 5px;margin-top: 20px;
}
.list_box div:target h2 a i {
	display: none;float: left;
}
.list_box div:target h2 a span{
   	display: inline-block;font-size: 18px;margin-top: 3px;
}
.list_box div h2 a span {
 	display: none;float: left;margin-left: 5px;
}
.list_box div img{
     transition: all 1s;overflow: auto;
}
.list_box div img{
     height: 0px;display:block;transition: all 1s;overflow: auto;
}
.list_box div:target img{
 	width: 700px;height: 500px;
}
